.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
}

.modal-header {
  background-color: #4f005f;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal-header h2 {
  margin: 0;
  color: white;
}

.modal-content {
  padding: 1rem;
  font-size: 1.1rem;
}

.modal-footer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modal-footer button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #7f0042;
  color: white;
  border: none;
}

.modal-footer button:hover,
.modal-footer button:active {
  background-color: #510034;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
